body{
  overflow: hidden;
}
.frame{
  height: 500px;
  width: 500px;
  margin: 2em auto;
}
.row{
  height: 50px;
  display: flex;
}
.col{
  width: 50px;
  outline: 1px solid red;
}
.blue{
  background-color: blue;
}
.pendingBox{
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 300px;
}
.pendingOne{
  position: absolute;
  left:0px;
}
.pendingTwo{
  position: absolute;
  left: 40%;
}
.pendingThree{
  position: absolute;
  left: 80%;
}
.scoreboard{
  position: fixed;
  left: 100px;
  right: 100px;
}
